*{
    margin : 0px;
    padding : 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside{
    position: relative;
    width: 250px;
    height:100vh;
    background: #0C1142;
}

aside h1{
    text-align: center;
    padding: 30px;
    background:
        linear-gradient(270.08deg, #00E17D 39.08%, #3456FF 71.76%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}

#logo-underline{
    border: 2px solid #3456FF;
    width: 70%;
    height: 0px;
    margin: auto;
    margin-bottom: 50px;
}

.grande-section{
    display: block;
    padding-left: 30px;
    padding-bottom: 30px;;
    color :white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Hazel, Warszawa, Metropolis, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grande-section:hover{
    color: #3456FF;
}

ul{

    list-style-type:disc;
    display: block;
    margin-left: 60px;
    color :white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Hazel, Warszawa, Metropolis, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li{
    margin-bottom: 10px;
}

li:hover{
    color: #3456FF;
}

aside footer{
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    height: 50px; 
}

#main{
    background-color:  white;
    position: absolute;
    left: 250px;
    top:0vh;
    width: calc(100vw - 250px);
}

#main h1{
    text-align: center;
    padding: 30px;
    background:
        linear-gradient(270.08deg, #00E17D 39.08%, #3456FF 71.76%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3em;
}